<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx.xsd
  http://www.springframework.org/schema/mvc
  http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	

	<bean id="userDAO" class="Member.UserDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>
	
	<bean id="memberServiceImpl" class="memberService.ServiceImpl">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	
	<bean id="mailController" class="controller.MailController">
  		<property name="memberService" ref="memberServiceImpl"/>
    </bean>
        
</beans>